body{
    overflow-y: hidden;
    overflow-x: hidden;
    background-image:url('background.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
}
.container{
    width:80%;
    height:100%
}
a{
    text-decoration: none;
    color:black;
    font-size: 200px;
    align-items: center;
    line-height: 1.1;
  }
ul{
    list-style-type: none;
}
.one,
.two,
.three {
    width: 330px;
}
.header {
    overflow: hidden;
    width: 99%;
    background-color: none;
    height: 22px;
    position: fixed;
    top: 10px;
    z-index:1000;
}

.header h1 {
    display: inline-block;
    animation: marquee 10s linear infinite;
    color:white;
    font-size: 10px;
    letter-spacing: 5px;
    margin-left: 20px;
}
h1.right{
    position:fixed;
    right: 20px;
}
h1.left{
    position:fixed;
    right: 300px;
}
.container.one-hover {
    background-image: url('image-one.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height: 110%;
    position:absolute;
    left:0px;
    top:-20px;    
}

.container.two-hover {
    background-image: url('image-two.jpg');
    background-image: url('image-one.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height: 110%;
    position:absolute;
    left:0px;
    top:-20px;  
}

.container.three-hover {
    background-image: url('image-three.jpg');
    background-image: url('image-one.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height: 110%;
    position:absolute;
    left:0px;
    top:-20px;  
}
.one:hover,
.two:hover,
.three:hover{
    color:white;
}
.one, .two, .three {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: transparent;
    color: white;
    text-align: center;
    line-height: 100px;
    transition: transform 0.5s ease; /* Apply transition effect */
    margin: 40px;
}
.hovered {
    transform: scale(1.2); /* Scale up when hovered */
}
.descriptions{
    position:fixed;
    bottom: 40px;
    right: 40px;

}
li{
    color:white;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
}