html, body{
    overflow-x:hidden;
}
body{
    margin:0;
    background-color: #fefefe;
background-image: linear-gradient(#00000020 2px, transparent 2px), 
                  linear-gradient(90deg, #00000020 1px, transparent 1px), 
                  linear-gradient(#00000020 1px, transparent 1px), 
                  linear-gradient(90deg, #00000020 1px, #fefefe 1px);
background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
transition: background-color 2s ease;
    transition: background-color 2s ease;
    padding-bottom: 200vh;
}

p {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.1rem;
    width:35ch;
  }
h1{
    font-family:"Cabin Sketch", sans-serif;
    font-size:7vw;
    text-align: right;
    width:calc(100vw - 40px);
    margin-top:2%;
    margin-right: 40px;
    z-index:1;
    text-shadow: 0px 0px 2px white; 
}
h3{
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    max-width: 20ch;
    min-width: 8ch;
  }

.first,
.second,
.third,
.fourth,
.fifth,
.fifthsecond,
.sixth,
.seventh,
.eighth {
    background-image: url("../whitepaper.png");
    /* margin:40px; */
    padding:40px;
    box-shadow:
    0 8px 8px -4px rgba(0, 0, 0, 0.5), /* Top shadow */
    0 -8px 8px -4px rgba(0, 0, 0, 0.5), /* Bottom shadow */
    8px 0 8px -4px rgba(0, 0, 0, 0.5), /* Right shadow */
    -8px 0 8px -4px rgba(0, 0, 0, 0.5);
    width: fit-content;
    height:fit-content;
}
a:not(:first-child):not(:last-child) {
    background-color: transparent;
    display:block;
    margin: 40px;
}
#paul img:hover,
#barbara img:hover,
#s img:hover,
#missing img:hover,
#cy img:hover,
#emily img:hover{
    transform: rotate(5deg);
}
#paul img,
#barbara img,
#s img,
#missing img,
#cy img,
#emily img{
    max-height: 80vh;
    transition:transform .75s ease;
    margin: 40px;
}
#barbara img,
#missing img,
#cy img{
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
#paul img,
#s img,
#emily img{
    filter: drop-shadow(3px 3px 1px rgba(0,0,0,0.5));
}
#missing img{
    background-image: url(../whitepaper.png);
    filter: contrast(98%);
    padding:20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 17% 56% 20% 3% / 0% 3% 0% 50% ;
}
.first{
    border-radius: 17% 56% 20% 3% / 0% 5% 0% 44% ;
    margin-top: 25%;
}
.second{
    border-radius:500% 30% 20% 2% / 6% 5% 0% 44%;
}
.third{
    border-radius: 77% 56% 20% 0% / 3% 0% 7% 44%;
}
.fourth{
    border-radius:77% 56% 21% 39% / 6% 0% 0% 5%;
}
.fifth,
.fifthsecond{
    border-radius:17% 56% 20% 3% / 0% 5% 0% 44%;
}
.sixth,
.eighth{
    border-radius:60% 56% 38% 39% / 0% 4% 8% 0%;
}
.seventh{
    border-radius:60% 56% 52% 39% / 0% 0% 10% 0%;
}
#theend{
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-decoration:none;
    font-size:4rem;
    color:black;
}
#buttonImage {
    width: 4vw;
    position: fixed;
    margin-left: 20px;
    margin-top: 1%;
    transition: transform 0.3s ease;
    z-index:1000000;
}
#buttonImage:hover {
    transform: rotate(90deg); /* Rotating the element by 90 degrees on hover */
}
#hiddenDiv {
    display: none;
    position:fixed;
    background-color: #c70000;
    margin:40px;
    opacity: 1;
    border-radius: 0% 100% 0% 100% / 89% 0% 100% 11%;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    height: fit-content;
    width: 30vw;
    z-index: 100000000;
}
#hiddenDiv li{
    font-family:Courier, monospace;
    list-style-type: none;
    color:white;
    font-size: 1em;
    padding: 10px;
    margin-top: -5px;
}
#bottom{
    margin-bottom: 35px; 
}
#hiddenDiv li:hover{
    background-color:black;
    color:white;
    width: fit-content;
}
#hiddenDiv a{
    text-decoration: none;
    color:white;
}
#hiddenDivH1{
    font-family: Courier, monospace;
    text-align:left;
    margin-left: 35px;
    position:static;
    color:white;
    padding: 5px;
    font-size: 2em;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-top:-20%;
    position:relative;
}
@media only screen and (max-width: 775px) {
    #hiddenDiv{
        width: 200px;
    }
    .container{
        grid-template-columns:repeat(1,1fr);
        margin-top: 0;
    }
    .first,
    .second,
    .third,
    .fourth,
    .fifth,
    .fifthsecond,
    .sixth,
    .seventh,
    .eighth {
        width: calc(100vw - 40%);
        /* margin:5%; */
        justify-content: center;
        margin-left: 40px;
        margin-top: 40px;
    }
    p{
        width: 55vw;
        align-content: center;
    }
    .first{
        margin-top: 15vh;
    }
    #paul img,
    #barbara img,
    #s img,
    #missing img,
    #cy img, 
    #emily img{
        margin-left: 0;
        width: calc(100vw - 35%);
        min-width: 200px;
        height:auto;
        max-width: 380px;
    }
    h3{
        font-size:1.75rem;
    }
}

@media only screen and (min-width: 775px) and (max-width: 1155px) {
    .container{
        grid-template-columns:repeat(1,1fr);
        margin-left: 20%;
    }
    .first,
    .second,
    #s,
    #cy,
    .sixth,
    .eighth{
        margin-left: -100px;
    }
    .seventh,
    #emily,
    #missing,
    #barbara,
    #paul{
        margin-left: 200px;
    }
    #missing{
        margin-top: -200px;
    }
    #paul{
        margin-top: -80px;
    }
    .second{
        margin-top:-100px;
    }
    .third{
        margin-top: 40px;
    }
    #s{
        margin-top:-100px;
    }
    #cy{
        margin-top:-400px;
        margin-left:-110px;
    }
    .fifthsecond{
        margin-left: 100px;
        margin-top: 40px;
    }
    .sixth{
        margin-top: 40px;
    }
    #emily{
        margin-top:-40px;
    }
    .seventh{
        margin-left: -30px;
        margin-top: -50px;
    }
    .eighth{
        margin-top: 80px;
    }
    #hidden-image{
        margin-left: 40px;
    }
}

@media only screen and (min-width: 1155px) {
    #hiddenDiv {
        width: 80%; /* Adjust width as needed */
        max-width: 250px; /* Set maximum width */
        margin: 40px; /* Center horizontally */
    }
    .container{
        margin-top:0;
        margin-left: 5%;
    }
    .first {
        margin-left: 5%;
        margin-top: -10vh; /* Adjust margin for responsiveness */
    }
    .second {
        margin-top: -15vh; /* Adjust margin for responsiveness */
    }
    .third {
        margin-top: 3vh;
    }
    
    #barbara {
        margin-top: -50vh; /* Adjust margin for responsiveness */
    }
    .fourth{
        margin-top:40px;
        margin-left: -10%;
    }
    .seventh,
    .sixth,
    .fifth {
        margin-left: -20%; /* Adjust margin for responsiveness */
        margin-top: 10vh; /* Adjust margin for responsiveness */
    }
    #missing {
        margin-top: 100px; /* Adjust margin for responsiveness */
    }
    
    .fifth {
        margin-left: -5%;
    }
    
    #cy {
        margin-top: -110vh; /* Adjust margin for responsiveness */
    }
    
    .sixth {
         /* Adjust margin for responsiveness */
    }
    .second{
        margin-left: 40px;
    }
    .seventh {
        margin-top: 100px;
        margin-left: 20px; /* Adjust margin for responsiveness */
    }
    #s{
        margin-top: -600px;
        margin-left: 75px;
    }
    .eighth {
        margin-top:-30%;
        width: 400px; /* Adjust margin for responsiveness */
    }
    .fifthsecond{
        margin-left: 40px;
        margin-top: -100vh;
    }
    .first {
    margin-left: 40px;
    margin-top: 40px;
}
    #emily{
        margin-top: -75vh;
        margin-left: -20px;
    }
}
.space{
    height: 50vh;
    width:300vw;
}
#theend{
    color:black;
    z-index: 1000000;
    position: absolute;
    margin-top: 125vh;
    font-size: 20vw;
    transition: font-size 1s ease;
    margin-left: 15%;
}
#theend:hover{
    font-size: 22vw;
}
*:focus{
    outline:none;
}