body {
background-color: #fefefe;
background-image:  linear-gradient(#00000033 2px, transparent 2px), linear-gradient(90deg, #00000033 1px, transparent 1px), linear-gradient(#00000033 1px, transparent 1px), linear-gradient(90deg, #00000033 1px, #fefefe 1px);
background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
display:grid;
}
header{
    height:80vh;
    justify-content:right;
    align-items:center;
}
p {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.1rem;
    width:35ch;
  }
sub{
    font-size:18rem;
}
h3,
h1 {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
  }
h1 {
    margin: 40px;
    padding: 40px;
    font-size: 16rem; 
    text-align: right;
    color: black;
    max-width: 100vw;
    line-height: .6;    /* background-color: white; 
    height: 100vh; 
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2); */
}
h3{
    display:flex;
}
#nav{
    position:absolute;
    top:30;
}
.first, 
.second,
.third,
.fourth,
.fifth,
.sixth,
.seventh,
.eighth {
    background-image: url("../whitepaper.png");
    display:inline-block;
    box-sizing:border-box;
    margin: 40px;
    padding:40px;
    box-shadow:
    0 8px 8px -4px rgba(0, 0, 0, 0.5), /* Top shadow */
    0 -8px 8px -4px rgba(0, 0, 0, 0.5), /* Bottom shadow */
    8px 0 8px -4px rgba(0, 0, 0, 0.5), /* Right shadow */
    -8px 0 8px -4px rgba(0, 0, 0, 0.5);
    /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2); */
}
a:not(:first-child):not(:last-child) {
    background-color: white;
    display:inline-block;
    margin: 40px;
    padding:40px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}
article{
    display:flex;
    direction:column;
    flex-wrap: wrap;
    align-items:flex-start;

}
.treeanimation{
    height:150vh;
}
footer{
    display:flex;
    height:100vh;
    align-items: center;
    justify-content:center;
}
#theend{
    font-size:16rem;
    text-decoration: none;
    font-family: "Petit Formal Script", cursive;
    font-weight: 400;
    font-style: normal;      
}
#paul{
    margin-top:30vh;
    margin-left:20vw;
}
#barbara{
    margin-top: -20vh;
}
#s{
    margin-top:35vh;
}
#missing{
    margin-top: ;
}
#cy{
    margin-top:70vh;
    margin-right:15vw;
}
#emily{
    margin-top:15vh;
}
.first{
    border-radius: 17% 56% 20% 3% / 0% 5% 0% 44% ;
}
.second{
    border-radius:77% 56% 20% 2% / 6% 5% 0% 44%;
    margin-top:25vh;
}
.third{
    border-radius: 77% 56% 20% 0% / 3% 0% 7% 44%;
}
.fourth{
    border-radius:77% 56% 21% 39% / 6% 0% 0% 5%;
}
.fifth{
    border-radius:17% 56% 20% 3% / 0% 5% 0% 44%;
}
.sixth{
    border-radius:60% 56% 38% 39% / 0% 4% 8% 0%;
    margin-top:25vh;
}
.seventh{
    border-radius:60% 56% 52% 39% / 0% 0% 10% 0%;
    width:auto;
}
.eighth{
    border-radius:60% 56% 52% 71% / 0% 0% 0% 9%;
    align-self:right;
    margin-top:40vh;
}
a{
    color: black;
    font-weight:bolder;
    font-family: "Petit Formal Script", cursive;
    font-weight: 400;
    font-style: normal; 
}
img{
    position:absolute;
    top:-40;
    width:100px;
}