body {
background-color: #fefefe;
background-image:  linear-gradient(#00000033 2px, transparent 2px), linear-gradient(90deg, #00000033 1px, transparent 1px), linear-gradient(#00000033 1px, transparent 1px), linear-gradient(90deg, #00000033 1px, #fefefe 1px);
background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

}
header{
    height:30vh;
    z-index:1;
}
p {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.1rem;
    width:35ch;
  }
h3{
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    max-width: 20ch;
    min-width: 8ch;
  }
h1 {
    text-align: right; /* Align text to the right */
    color: black;
    max-width: 100vw;
    height: 100vh; 
    display: flex; /* Make it a flex container */
    justify-content: flex-end;
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12vw;
}

.first,
.second,
.third,
.fourth,
.fifth,
.sixth,
.seventh,
.eighth {
    background-image: url("../whitepaper.png");
    display:block;
    box-sizing:border-box;
    margin: 40px;
    margin-left:25VW;
    padding:40px;
    box-shadow:
    0 8px 8px -4px rgba(0, 0, 0, 0.5), /* Top shadow */
    0 -8px 8px -4px rgba(0, 0, 0, 0.5), /* Bottom shadow */
    8px 0 8px -4px rgba(0, 0, 0, 0.5), /* Right shadow */
    -8px 0 8px -4px rgba(0, 0, 0, 0.5);
    min-width: 45vw;
    /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2); */
}
a:not(:first-child):not(:last-child) {
    background-color: #D3D3D3;
    display:inline-block;
    margin: 40px;
    padding:40px;
    box-shadow:
    0 8px 8px -4px rgba(0, 0, 0, 0.5), /* Top shadow */
    0 -8px 8px -4px rgba(0, 0, 0, 0.5), /* Bottom shadow */
    8px 0 8px -4px rgba(0, 0, 0, 0.5), /* Right shadow */
    -8px 0 8px -4px rgba(0, 0, 0, 0.5);
}
article{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    height:60vh;
    overflow-y:auto;
    width: 100vw;
}
#paul{
    background:none;
    box-shadow: none;
    margin-left: 30vw;
    max-width: 20vw;
}
#paul img{
    max-width:400px;
    background-image:url(../whitepaper.png);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    border-radius:77% 56% 21% 39% / 6% 0% 0% 5%;

}
#barbara{
    background:none;
    box-shadow:none;
}
#barbara img{
    max-width:400px;
    margin-left: 20vw;
    justify-content: center;
    background-image:url(../whitepaper.png);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}
#s{
    max-width:400px;
    background:none;
    box-shadow:none;
}
#s img{
    max-width:500px;
}

#missing{
}
#cy{

}
#emily{

}
.first{
    border-radius: 17% 56% 20% 3% / 0% 5% 0% 44% ;
}
.one-half img{
    background-image:none;
    max-width: 35vw;
}
.second{
    border-radius:77% 56% 20% 2% / 6% 5% 0% 44%;
}
.third{
    border-radius: 77% 56% 20% 0% / 3% 0% 7% 44%;
}
.fourth{
    border-radius:77% 56% 21% 39% / 6% 0% 0% 5%;
}
.fifth{
    border-radius:17% 56% 20% 3% / 0% 5% 0% 44%;
}
.sixth{
    border-radius:60% 56% 38% 39% / 0% 4% 8% 0%;
}
.seventh{
    border-radius:60% 56% 52% 39% / 0% 0% 10% 0%;
}
.eighth{
    border-radius:60% 56% 52% 71% / 0% 0% 0% 9%;
}
/* .toggle img{
    position:absolute;
    top:-40;
    width:100px;
} */
/* .icon img{
    width:50px;
    position:sticky;
} 
.icon{
    position:fixed;
    top:-25px;
    left:15px;
    z-index:4;
} */
ul{
    list-style-type: none;
}
.slide p{
    color:white;
    font-size:7vw;
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;

}

li a{
    color:white;
    text-decoration: none;
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-size: 2.5vw;
    margin-left:0;
}
li a:hover{
    color:black;
}
.slide{
    height:100%;
    width:20vw;
    background-color:rgba(255, 0, 0, 0.8);
    position:fixed;
    left:0;
    top:0;
    z-index:10;
}
.slide p{
    position: absolute;
    bottom:30px;
    padding:10px;
}
@media only screen and (max-width: 767px) {
   .slide{
    width:100%;
    height:12vh
   }
   hr,
   br{
    display:none;
   }
   .slide li{
    line-height:0.85;
    justify-content: left;
   }
   .slide p{
    margin-right:0;
   }
   .first, 
.second,
.third,
.fourth,
.fifth,
.sixth,
.seventh,
.eighth {
    margin-left:3VW;
}


}
@media only screen and (min-width: 768px) and (max-width: 992px) {
   
}
@media only screen and (min-width: 993px) {
   h3{

   }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    h3{
        font-size: 20%;
    }
}
@media only screen and (min-width: 993px) {
   h3{
    font-size:
   }
}
#theend{
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-decoration:none;
    font-size:4rem;
    color:black;
    margin-left:30vw;
    height:70vh;
}