img{
    width: auto;
    height:30vh;
}
img:hover{
    height:100vh;
}

Forma DJR Banner Hairline
font-family: "forma-djr-banner", sans-serif;
font-weight: 100;
font-style: normal;

Forma DJR Banner Hairline Italic
font-family: "forma-djr-banner", sans-serif;
font-weight: 100;
font-style: italic;

Forma DJR Banner Thin
font-family: "forma-djr-banner", sans-serif;
font-weight: 200;
font-style: normal;

Forma DJR Banner Thin Italic
font-family: "forma-djr-banner", sans-serif;
font-weight: 200;
font-style: italic;

Forma DJR Banner Light
font-family: "forma-djr-banner", sans-serif;
font-weight: 300;
font-style: normal;

Forma DJR Banner Light Italic
font-family: "forma-djr-banner", sans-serif;
font-weight: 300;
font-style: italic;

Forma DJR Banner Extra Light
font-family: "forma-djr-banner", sans-serif;
font-weight: 400;
font-style: normal;

Forma DJR Banner Extra Light Italic
font-family: "forma-djr-banner", sans-serif;
font-weight: 400;
font-style: italic;

Forma DJR Banner Regular
font-family: "forma-djr-banner", sans-serif;
font-weight: 500;
font-style: normal;

Forma DJR Banner Italic
font-family: "forma-djr-banner", sans-serif;
font-weight: 500;
font-style: italic;

Forma DJR Banner Medium
font-family: "forma-djr-banner", sans-serif;
font-weight: 600;
font-style: normal;

Forma DJR Banner Medium Italic
font-family: "forma-djr-banner", sans-serif;
font-weight: 600;
font-style: italic;

Forma DJR Banner Bold
font-family: "forma-djr-banner", sans-serif;
font-weight: 700;
font-style: normal;

Forma DJR Banner Bold Italic
font-family: "forma-djr-banner", sans-serif;
font-weight: 700;
font-style: italic;

Forma DJR Banner Extra Bold
font-family: "forma-djr-banner", sans-serif;
font-weight: 800;
font-style: normal;

Forma DJR Banner Extra Bold Italic
font-family: "forma-djr-banner", sans-serif;
font-weight: 800;
font-style: italic;

Forma DJR Banner Black
font-family: "forma-djr-banner", sans-serif;
font-weight: 900;
font-style: normal;

Forma DJR Banner Black Italic
font-family: "forma-djr-banner", sans-serif;
font-weight: 900;
font-style: italic;
