body {
    background-color: #000000;
    background-image: linear-gradient(rgba(61, 61, 61, 0.5) 2px, transparent 2px),
                      linear-gradient(90deg, rgba(61, 61, 61, 0.5) 2px, transparent 2px),
                      linear-gradient(rgba(61, 61, 61, 0.5) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(61, 61, 61, 0.5) 1px, #000000 1px);

    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    overflow-x: hidden;
    }

p {
        font-family: Courier, monospace;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
      }
      
h3, h2 {
        font-family: Courier, monospace;
        font-weight: 700;
        font-style: normal;
        font-size: 2rem;
        letter-spacing: -1px;
      }
p{
    color:white;
}
h3{
    color:white;
}
a{
    color:white;
}
h2{
    color: white;
    font-size:1.35rem;
}
.first,
.second,
.third,
.fourth,
.fifth,
.sixth{
    margin: 40px;
    padding: 40px;
    background:url("blackpaper.png"); /* Adjust background color */
    /* display:inline-block; */
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.4);
    display: inline-block;
}
.branch{
    width:fit-content;
}
.first{
    width:45vw;
}
.second{
    width:60vw;
    margin-left: 25%;
}
.third{
    width:60vw;
}
.fourth{
    width:30vw;
}
.fifth{
    width:40vw;
}
button{
    font-family: Courier, monospace;
    font-weight: 400;
    font-style: normal;
    font-size:medium; 
    background:none;
    color:white;
    padding: 5px;
    margin:40px;
    border:none;
    display:block;
    text-decoration: none;
}
button:hover{
    border:solid white 2px;
}
#finishline{
    width: 90vw;
    margin-left: 40PX;
}
a{
    text-decoration: none;
}
.blackout h3{
    background-color:black;
    color: black;
    margin-bottom: -50px;
    margin-top: -40px;
    width: fit-content;
}
.blackout p{
    background-color: black;
    color:black;
    margin-bottom: -55px;
    width: fit-content;
    margin-top: -55px;
    display:flex;
}
.blackout h3:hover,
.blackout p:hover{
    background: transparent;
    color: white;
}
.mfirst,
.msecond,
.mthird,
.mfourth,
.mfifth{
    background:url("blackpaper.png"); /* Adjust background color */
    padding: 10px;
    margin: 40px auto;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.4);
    width: 40vw;
}
p{
    padding: 10px;
    margin:40px;
}
h3{
    padding: 10px;
}
.mfirst h3,
.msecond h3,
.mthird h3,
.mfourth h3,
.mfifth h3{
    text-align: center; /* Align text to the center */
    margin-left: auto; /* Set left margin to auto */
    margin-right: auto;
}
#enlarge:hover{
    font-size: 4rem;
}
#wordContainer {
    font-size: 36px;
  }
  
  .letter {
    display: inline-block;
    transition: transform 0.5s ease;
  }
.psecond,
.pfirst{
    padding-bottom: 20px;
    background:url("blackpaper.png"); /* Adjust background color */
    padding: 10px;
    margin:40px;
    margin-left: 175px;
    padding-bottom: 100px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.4);
    width: 60vw;
    height: fit-content;

}
ul{
    list-style-type:none;
}
.pfirst .other{
    padding-bottom: -500px;
}
.efirst{
    background:url("blackpaper.png");
    padding: 10px;
    margin:40px;
    padding-top: 75px;
    margin-left: 175px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.4);
    width: 55vw;
    height: fit-content;
}
@media only screen and (max-width: 700px) {
    .efirst,
    .pfirst,
    .psecond,
    .mfirst,
    .msecond,
    .mthird,
    .mfourth,
    .mfifth,
    .first,
    .second,
    .third,
    .fourth,
    .fifth{
        margin: 40px auto;
        width: 60vw;
    }
    #finishline{
        margin-left:15px;
    }
}
