.ojuju-hatched {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    animation: slideUp 1.5s ease-in;
    animation-delay: 4s;
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: .5;
    }
}

.hidden {
    display: none;
}

h1 {
    font-size: 23vw;
    color: white;
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

svg {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    width: 100%;
    /* flexible width */
    height: 100vh;
    /* fixed height, but you can change it to a relative unit if needed */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    /* prevent the SVG from exceeding the screen width */
}

svg text {
    animation: stroke 3.4s ease;
    stroke-width: 0.5rem;
    /* relative stroke width */
    stroke: rgba(187, 183, 48, 1);
    font-size: 10rem;
    /* relative font size */
    fill: rgba(187, 183, 48, 1);
}

@keyframes stroke {
    0% {
        stroke: blue;
        fill: yellow;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 0.5rem;
    }

    95% {
        stroke: olive;
        fill: yellowgreen;
        stroke-dashoffset: 0%;
        stroke-dasharray: 100%;
        stroke-width: 0.5rem;
    }

    100% {
        fill: lime;
        stroke: blue;
        /* back to OG */
        stroke-width: 0.5rem;
    }
}

/* Media queries for different screen widths */
@media (max-width: 900px) {
    svg text {
        font-size: 10rem;
    }
}

@media (max-width: 600px) {
    svg text {
        font-size: 6rem;
    }
}

@media (max-width: 395px) {
    svg text {
        font-size: 3rem;
    }
}

h1#title {
    color: black;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80vw;
    z-index: 12;
    stroke-width: 0.5rem;
    /* relative stroke width */
    stroke: #365FA0;
    font-size: 5rem;
    /* relative font size */
    fill: rgba(72, 138, 204, 1);
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content {
    background-color: rgba(187, 183, 48, 1);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

a {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    color: black;
    drop-shadow: 2px black;
}

.w3-btn,
.w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: white;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.w3-sidebar {
    height: 100%;
    width: 250px !important;
    background-color: black;
    position: fixed !important;
    z-index: 1;
    overflow: hidden;
}

.w3-bar-block .w3-bar-item {
    width: 75%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.w3-right {
    float: right;
}

.w3-button:hover {
    color: white !important;
    scale: 1.5;
}

/* canvas#canvasyear {
    position: absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 100vh;
    border: none;
    opacity:30%;
} */
